* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: monospace
}

body {
  background: #fefefe;
  height: 100vh;
  margin: 0 auto;
  /*max-width: 500px;*/
  overscroll-behavior: none;
  width: 100%;
}

#root {
  overflow-x: hidden;
  min-height: 100vh;
}